{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "src",
          "~/hooks":"src/hooks",
          "~/Redux":"src/Redux",
          "~/config":"src/config"
        }
      }
    ]
  ]
}
