.button{
	width: 100% !important;
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
	font-size: 2em !important;
	position: relative !important;
}

.icon{
	font-size: 1.6em !important;
}