.outline{
    position: relative !important;
}
.input{
    /* width: 0 !important; */
}
.adornment{
   /* flex: 1;
   height: 100% !important;
   position: relative !important; */
}
.disabled{
    pointer-events: none !important;
    opacity: 0.8;
}
.disabled *{
    pointer-events: none !important;
}